@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../Layout/Layout.scss";

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
}

.header-container{
    width: calc(100% - 24px);
    min-width: 296px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $blanco-verde;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.scroll{
    background-color: $verde-textos;
}

/*estilos boton hamburguesa*/

.header-container .hamburger{
    margin: 0;
    padding: 0;
}
.header-container .hamburger:focus{
    outline: none;
}

.hamburger-box{
    height: 26px;
    width: 36px;
    margin-left: 30px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after
{
    width: 36px;
    height: 6px;
    border-radius: 3px;
    background-color: $verde-secundario;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after
{
    background-color: $verde-secundario;
}

/*estilos logo*/

.header-container img{
    width: 100px;
    height: auto;
}
/*estilo icono whatsapp*/

.header-container i{
    font-size: 41.14px;
    height: auto;
    color: $verde-primario;
    margin-right: 30px;
}

/*estilos menu*/

.menu {
    max-height: 0px;
    overflow: hidden;
    font-family: $font-titulos;
    background-color: $blanco-verde;
    transition: 300ms all;
}

.menu ul li a{
    text-decoration: none;
}
.menu ul, menu ul ul{
    list-style: none;
}

.menu.menu-desplegado{
    max-height: calc(100vh - 100px);
    height: 100vh;
    width: 100%;
}

.menu .menu-principal > li,
.menu-principal ul > li{
    border-bottom: 1px solid $verde-primario;
    font-size: $parrafo;
    font-weight: 600;
    padding: 8px 30px;
    color: $verde-primario;
}

.menu .menu-principal li a,
.menu-principal ul li a{
    color: $verde-primario;
}

.menu .menu-principal .submenu{
    max-height: 0;
    overflow: hidden;
    transition: 300ms all;
}
.menu .menu-principal .fas{
    float: right;
    margin-top: 4px;
    transition: 300ms all;
}

.menu .menu-principal .submenu.activo{
    max-height: 126px;
    height: auto;
}

.menu .menu-principal .submenu.activo li{
    background-color: $verde-primario;
    border-bottom: 1px solid $blanco-verde;
}
.menu .menu-principal .submenu.activo a{
    color: $blanco-verde;
}

.menu .menu-principal .activo{
    background-color: $verde-textos;
}

.menu .menu-principal .activo a{
    color: $blanco-verde;
}
.menu .menu-principal .activo i{
    transform: rotate(180deg);
}

/*estilos redes*/

.menu-redes-container{
    display: flex;
    width: 100%;
    padding-left: 30px;
}

.menu-redes-container .menu-redes-icono{
    width: 48px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.menu-redes-container .menu-redes-icono .fab{
    font-size: 40px;
    color: $verde-textos;
}

/*estilos menu secundario*/

.menu-secundario{
    padding-left: 30px;
    margin-top: 10px;
}

.menu-secundario li a{
    color: $verde-textos;
    font-size: $sub-parrafo;
}

/*sticky menu secundario*/

.menu-secundario-container{
    margin-top: 142px;
    transition: 300ms all;
}
.menu-secundario-container.activo{
    margin-top: 16px;
}

@media only screen and (min-height: 660px){
    .menu-secundario-container{
        margin-top: 202px;
        transition: 300ms all;
    }
    .menu-secundario-container.activo{
        margin-top: 76px;
    }
    
}

@media only screen and (min-height: 717px){
    .menu-secundario-container{
        margin-top: 250px;
        transition: 300ms all;
    }
    .menu-secundario-container.activo{
        margin-top: 124px;
    }
    
}

@media only screen and (min-height: 800px){
    .menu-secundario-container{
        margin-top: 333px;
        transition: 300ms all;
    }
    .menu-secundario-container.activo{
        margin-top: 207px;
    }
    
}